@font-face {
  font-family: "Monaco";
  src: url("fonts/monaco.woff");
}

:root {
  --terminal-font-color: #b0b2b6;
  --terminal-output-color: #f6f6f6;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  /* cursor: none; */
}

.hero {
  min-height: 100vh;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.terminal {
  overflow: hidden;
  font-family: "Monaco", Consolas, Lucida Console, monospace;
}

.dark-mode {
  background: #0d0f17;
  height: 42px;
  align-items: center;
}

.dark-mode-text {
  color: #bdb9bf !important;
}

.terminal-window {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.primary-bg {
  background-color: #0d0f17;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.column-child {
  flex: 1;
}

.terminal-line {
  position: relative;
  color: var(--terminal-font-color);
}

.output {
  color: var(--terminal-output-color);
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}

.code,
.error,
.social {
  color: #f9405c;
}

a {
  color: inherit;
  transition: color 0.08s linear;
}

a:hover {
  color: inherit;
}

.dummy-keyboard {
  opacity: 0;
  filter: alpha(opacity=0);
  /* cursor: none; */
  cursor: default
}

.user-input {
  position: relative;
}

.user-input::after {
  display: block;
  content: "";
  width: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .resume {
    padding-bottom: 0.5rem;
  }
}
